@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h2 {
    margin: 20px 0;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    font-size: 2rem;
}

html {
    /* height: 100%; */
    font-size: 80%;
}

body {
    background: linear-gradient(rgb(41, 41, 41), rgb(43, 43, 43));
    color: #eee;
    font-family: 'Fira Mono', monospace;
    padding: 60px;
    min-height: 100%;
}


.green {
    color: rgb(48, 194, 92);
}


.empty-space {
    height: 50px;
}


@media only screen and (max-width: 600px) {
    html {
        font-size: 60%;
    }
    body {
        padding: 20px;
    }
}